# SPDX-FileCopyrightText: 2022 Joonas Javanainen <joonas.javanainen@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

name: ci
on:
  pull_request:
  push:
    branches:
    - main

env:
  UTILS_SHA: 1c17de5250d6eee3e78049456fbde8b6623afa3b

jobs:
  klc_check:
    name: Run KLC checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Checkout kicad-library-utils
        run: |
          git clone --depth 1 https://gitlab.com/kicad/libraries/kicad-library-utils.git
          cd kicad-library-utils
          git fetch --depth 1 origin $UTILS_SHA
          git checkout $UTILS_SHA
      - name: Check symbols
        run: kicad-library-utils/klc-check/check_symbol.py -v *.kicad_sym
      - name: Check footprints
        run: kicad-library-utils/klc-check/check_footprint.py -v *.pretty/*.kicad_mod
